/* write your override styles here */
#wall .tag-1 {
  display: none;
}
#wall .parent #tag-4 {
  display: none;
}
body #wall #tag-2 {
  background: none;
}
div #wall #tag-3 .slick .wicked {       /* needs work */
  background: none;
  display: none;
}
#wall .parent #tag-4 {
  background: none;
}
body #wall .parent #tag-5 .slick {
  background: none;
}